In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santa Isabel Do Rio Negro,BR,2022-03-19 03:29:50,-0.4139,-65.0192,73.83,97,95,2.26
1,1,Beihai,CN,2022-03-19 03:29:51,21.4833,109.1000,75.04,82,18,8.99
2,2,Hinche,HT,2022-03-19 03:29:52,19.1500,-72.0167,76.39,69,66,1.77
3,3,Rikitea,PF,2022-03-19 03:29:52,-23.1203,-134.9692,80.51,72,40,8.14
4,4,Bataipora,BR,2022-03-19 03:29:53,-22.2953,-53.2711,71.62,97,100,0.74

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Beihai,CN,2022-03-19 03:29:51,21.4833,109.1000,75.04,82,18,8.99
2,2,Hinche,HT,2022-03-19 03:29:52,19.1500,-72.0167,76.39,69,66,1.77
3,3,Rikitea,PF,2022-03-19 03:29:52,-23.1203,-134.9692,80.51,72,40,8.14
5,5,Avarua,CK,2022-03-19 03:29:54,-21.2078,-159.7750,84.25,70,80,6.91
8,8,Butaritari,KI,2022-03-19 03:29:57,3.0707,172.7902,81.10,80,20,20.60
12,12,Mahebourg,MU,2022-03-19 03:30:00,-20.4081,57.7000,80.26,94,40,2.30
17,17,Atuona,PF,2022-03-19 03:30:04,-9.8000,-139.0333,78.82,77,6,15.26
18,18,Cidreira,BR,2022-03-19 03:30:06,-30.1811,-50.2056,75.25,80,100,6.20
19,19,Isangel,VU,2022-03-19 03:30:07,-19.5500,169.2667,82.90,75,99,4.56
26,26,Sambava,MG,2022-03-19 03:30:13,-14.2667,50.1667,77.81,89,100,3.00

In [15]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Beihai      CN     75.04  21.4833  109.1000
2       Hinche      HT     76.39  19.1500  -72.0167
3      Rikitea      PF     80.51 -23.1203 -134.9692
5       Avarua      CK     84.25 -21.2078 -159.7750
8   Butaritari      KI     81.10   3.0707  172.7902
12   Mahebourg      MU     80.26 -20.4081   57.7000
17      Atuona      PF     78.82  -9.8000 -139.0333
18    Cidreira      BR     75.25 -30.1811  -50.2056
19     Isangel      VU     82.90 -19.5500  169.2667
26     Sambava      MG     77.81 -14.2667   50.1667

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Beihai,CN,75.04,21.4833,109.1000,21 Degree Hostel
2,Hinche,HT,76.39,19.1500,-72.0167,«Petites Soeurs de l'Incarnation»
3,Rikitea,PF,80.51,-23.1203,-134.9692,People ThankYou
5,Avarua,CK,84.25,-21.2078,-159.7750,Paradise Inn
8,Butaritari,KI,81.10,3.0707,172.7902,Isles Sunset Lodge
12,Mahebourg,MU,80.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
17,Atuona,PF,78.82,-9.8000,-139.0333,Villa Enata
18,Cidreira,BR,75.25,-30.1811,-50.2056,Hotel Castelo
19,Isangel,VU,82.90,-19.5500,169.2667,Tanna Lodge
26,Sambava,MG,77.81,-14.2667,50.1667,Melrose

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))